<% layout('layouts/boilerplate') -%>
<h3>All Listings</h3>

<ul>
    <% for(let listing of allListings) { %>
        <li>
            <a href="/listings/<%= listing._id %>">
                <%= listing.title %>
            </a>
            - ₹ <%= listing.price.toLocaleString("en-IN") %> / night
        </li>
    <% } %>
</ul>